header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000000;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;

}

.favoritos{   
    text-decoration: none;
    cursor: pointer;
    background-color: #FFF;
    color: #000;
    padding: 5px 14px;
    border-radius: 4px;
}